<section class="section">
    <ng-container *ngIf="user$ | async as user; else loading">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="card has-text-centered ">
                        <div class="has-background-white-ter">
                            <figure class="image is-inline-block">
                                <img class="is-rounded is-128x128" [src]="user.picture">
                            </figure>
                        </div>

                        <div *ngIf="tabContent === 'nameTab'" class="card-content">
                            <p class="subtitle">Hi, my name is</p>
                            <p class="title pt-2">{{user.name}}</p>
                        </div>
                        <div *ngIf="tabContent === 'emailTab'" class="card-content">
                            <p class="subtitle">Hi, my email address is</p>
                            <p class="title pt-2">{{user.email}}</p>
                        </div>
                        
                        <div *ngIf="tabContent === 'birthTab'" class="card-content">
                            <p class="subtitle">Hi, my birthday is</p>
                            <p class="title pt-2">{{user.birthday}}</p>
                        </div>
                        
                        <div *ngIf="tabContent === 'addressTab'" class="card-content">
                            <p class="subtitle">Hi, my address is</p>
                            <p class="title pt-2">{{user.address}}</p>
                        </div>
                        
                        <div *ngIf="tabContent === 'phoneTab'" class="card-content">
                            <p class="subtitle">Hi, my phone number is</p>
                            <p class="title pt-2">{{user.phone}}</p>
                        </div>
                        
                        <div *ngIf="tabContent === 'passTab'" class="card-content">
                            <p class="subtitle">Hi, my password is</p>
                            <p class="title pt-2">{{user.password}}</p>
                        </div>
                        
                        <app-hoverable-tabs (activatedTab)="tabContent = $event">
                            <app-hoverable-tab tabId="nameTab" iconName="fa-user" [active]="true"></app-hoverable-tab>
                            <app-hoverable-tab tabId="emailTab" iconName="fa-envelope"></app-hoverable-tab>
                            <app-hoverable-tab tabId="birthTab" iconName="fa-calendar-alt"></app-hoverable-tab>
                            <app-hoverable-tab tabId="addressTab" iconName="fa-map-marked-alt"></app-hoverable-tab>
                            <app-hoverable-tab tabId="phoneTab" iconName="fa-phone-alt"></app-hoverable-tab>
                            <app-hoverable-tab tabId="passTab" iconName="fa-lock"></app-hoverable-tab>
                        </app-hoverable-tabs>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
<ng-template #loading>
    <div class="container has-text-centered">
        <p class="title">Getting user...</p>
    </div>
</ng-template>

</section>