<li [class]="{'is-active': active}" (mouseenter)="emitTabSelection()">
    <a>
        <span *ngIf="iconName" class="icon is-small">
            <i class="fas {{iconName}}" aria-hidden="true"></i>
        </span>

        <span *ngIf="tabTitle">{{tabTitle}}</span>
    </a>
</li>